body {
    background-color: hsl(0, 0%, 8%);
    text-align: center;
    color: white;
    font-family: Arial;
    font-weight: 600;
}

img {
    margin-top: 40px;
    width: 100px;
    height: 100px;
    border-radius: 50px;
}

main {
    text-align: center;
    background-color: hsl(0, 0%, 12%);
    margin-top: 50px;
    margin-left: 35px;
    border-radius: 10px;
    height: 630px;
    width: 450px;

}

@media (min-width: 600px) {
    main {
        margin-left: 470px;
        margin-top: 50px;
        width: 400px;
    }


}

h1 {
    font-size: 20px;
}

#occupation {
    font-weight: 400;
    font-size: 14px;
    margin-top: 30px;
}

#location {
    color: hsl(75, 94%, 57%);
    font-weight: 600;
    font-size: 14px;
    margin-top: 5px;
}


.container {
    display: flex;
    flex-direction: column;
    color: hsl(0, 0%, 100%);
    border: none;
    width: 450px;
    align-items: center;
}
.item {
    background-color: hsl(0, 0%, 20%);
    margin: 10px;
    border-radius: 10px;
    height: 25px;
    padding-top: 10px;
    width: 400px;
    font-size: 12px;

}
.item:hover {
    background-color: hsl(75, 94%, 57%);
    color: hsl(0, 0%, 8%);
    cursor: pointer;
}

@media (min-width: 600px) {
    .container {
        display: flex;
        flex-direction: column;
        color: hsl(0, 0%, 100%);
        border: none;
        width: 400px;
        align-items: center;
    }
    .item {
        background-color: hsl(0, 0%, 20%);
        margin: 10px;
        border-radius: 10px;
        height: 25px;
        padding-top: 10px;
        width: 350px;
        font-size: 12px;
    
    }
    .item:hover {
        background-color: hsl(75, 94%, 57%);
        color: hsl(0, 0%, 8%);
        cursor: pointer;
    }

}

.attribution {
    font-size: 11px;
    text-align: center;
}
.attribution a {
    color: hsl(228, 45%, 44%);
}